.app {
  background-color: theme-color(primary);
  color: white;
}

.app__files-upload {
  background-color: $cream;
}

.app__wrap {
  color: theme-color(dark);
  @include padding-leader(3);
  @include padding-trailer(2);
}
