.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: theme-color(tertiary);
  opacity: 0.95;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
  min-width: 120px;
  width: auto;
  width: fit-content;
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: $dff;
  letter-spacing: 0.7px;
  position: relative;
  transition: all 0.2s ease-in;
  border: 0;
  box-shadow: 0 1px 5px rgba(0,0,0,.1), 0 3px 4px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.14);
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: white;
    background-color: theme-color(secondary);
  }
  &:active{
    opacity: 0.8;
  }
}

.btn--outline {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  &:active,
  &:focus,
  &:hover {
    color: white;
    opacity: 0.6;
    background-color: transparent;
  }
}

.btn__wrap {
  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    display: flex;
    > * {
      margin-right: 16px;
      &:last-child(){
        margin-right: 0;
      }
    }
  }

}
