.file-filter {
  background-color: theme-color(secondary);
  color: white;
  @include padding-leader(2);
  @include padding-trailer(2);
}

.file-filter__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  > * {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  label {
    font-family: $dff;
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  input, select{
    font-family: $dff;
    font-size: 16px;
    border: 0;
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 12px;
  }
}
