.footer {
  background-color: theme-color(tertiary);
  color: white;

  a {
    color: inherit;
    border-bottom-color: theme-color(tertiary);

    &:active,
    &:focus,
    &:hover {
      color: white;
      opacity: 0.8;
      border-bottom-color: white;
    }
  }
}

.footer__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include padding-leader(2);
  @include padding-trailer(2);
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    > * {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @include media-breakpoint-up("md") {
    > * {
      &:nth-child(2n) {
        margin-right: gutter(12);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.footer__links-list {
  padding-left: 0;
  padding-bottom: 0;
  list-style-type: none;
}

.footer__item-title {
  @include base-base(20px, $hff, 1, 0);
}
