.summary-card__outer-wrap {
  @include padding-leader(2);
  @include padding-trailer(2);
  // SMALL MQ
  @include media-breakpoint-up('sm') {
    @include padding-leader(3);
    @include padding-trailer(3);
  }
  // MEDIUM MQ
  @include media-breakpoint-up('md') {
    @include padding-leader(5);
  }
}

.summary-card__grid {
  // SMALL MQ
  @include media-breakpoint-up('md') {
    display: flex;
    flex-wrap: wrap;
  }

  > * {
    // MEDIUM JS
    @include media-breakpoint-up('md') {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    // LARGE MQ
    @include media-breakpoint-up('lg') {
      &:nth-child(2n) {
        margin-right: gutter(12);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.summary-card {
  background-color: white;
  color: theme-color(dark);
  @include padding-leader(1);
  @include padding-trailer(2);
  @include pad();
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0,.1), 0 3px 4px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.14);
  @include margin-trailer(2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // SMALL MQ
  @include media-breakpoint-only("sm") {
    flex-grow: 1;
  }

  > * {
    width: 100%;
  }
}

.summary-card__grid-title {
  @include base-base(32px, $hff, 3);
  // SMALL MQ
  @include media-breakpoint-up('sm') {
    @include base-base(36px, $hff, 3);
  }
}

.summary-card__title {
  @include base-base(24px, $hff, 1);

}

.summary-card__title-wrap {
  word-break: break-all;
}

.summary-card__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  @include pad();
  @include padding-leader(2);
  @include padding-trailer(2);
  > * {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
  }
}

.summary-card__img {
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: auto;
  @include object-fit(cover, center);
}
.summary-card__btn-wrap{
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}
.summary-card__btn {
  width: 100%;
  align-self: flex-end;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 16px;
  min-width: 110px;
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    width: auto;
  }

  &:last-child {
    margin-right: 0;
  }
}
