@function container-max($name, $breakpoints: $container-max-widths) {
  $max: map-get($breakpoints, $name);
  @return if($max != 0, $max, null);
}

@mixin get-container-max-width($name, $max-widths: $container-max-widths){
  $max: container-max($name, $max-widths);
  @if $max {
    max-width: $max;
  } @else {
    max-width: auto;
  }
}

body {
  @include debug_baseline();
}

.wrap{
  @include padding-leader(2);
  @include padding-trailer(2);
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    @include padding-leader(4);
    @include padding-trailer(3);
  }
}

.container {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > *{
    width: 100%;
  }

  @include media-breakpoint-up("sm") {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include media-breakpoint-up("lg") {
    @include get-container-max-width("lg");
  }

  @include media-breakpoint-up("xl") {
    @include get-container-max-width("xl");
  }

}
