//src https://codepen.io/pixelchar/pen/rfuqK
// Breakpoints
$bp-maggie: 15em;
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;

.responsive-table {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
  @media (min-width: $bp-bart) {
    font-size: 0.9em;
  }
  @media (min-width: $bp-marge) {
    font-size: 1em;
  }

  .btn {
    margin-top: 0;
  }

  thead {
    // Accessibly hide <thead> on narrow viewports
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    @media (min-width: $bp-bart) {
      // Unhide <thead> on wide viewports
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    th {
      background-color: rgba(29,150,178,1);
      border: 1px solid rgba(29,150,178,1);
      font-weight: normal;
      color: white;
    }
  }
  // Set these items to display: block for narrow viewports
  tbody,
  td,
  th,
  tr {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {
    @media (min-width: $bp-bart) {
      // Undo display: block
      display: table-row;
    }
  }

  td,
  th {
    padding: 0.5em;
    vertical-align: middle;
    @media (min-width: $bp-lisa) {
      padding: 0.75em 0.5em;
    }
    @media (min-width: $bp-bart) {
      // Undo display: block
      display: table-cell;
      padding: 0.5em;
    }
    @media (min-width: $bp-marge) {
      padding: 0.75em 0.5em;
    }
    @media (min-width: $bp-homer) {
      padding: 0.75em;
    }
  }

  caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    @media (min-width: $bp-bart) {
      font-size: 1.5em;
    }
  }

  tfoot {
    font-size: 0.8em;
    font-style: italic;
    @media (min-width: $bp-marge) {
      font-size: 0.9em;
    }
  }

  tbody {
    @media (min-width: $bp-bart) {
      // Undo display: block
      display: table-row-group;
    }

    tr {
      margin-bottom: 1em;
      border: 2px solid rgba(29,150,178,1);
      @media (min-width: $bp-bart) {
        // Undo display: block
        display: table-row;
        border-width: 1px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        @media (min-width: $bp-bart) {
          background-color: rgba(94,93,82,.1);
        }
      }
    }

    th[scope="row"] {
      background-color: rgba(29,150,178,1);
      color: white;
      @media (min-width: $bp-bart) {
        background-color: transparent;
        color: rgba(94,93,82,1);
        text-align: left;
      }
    }

    td {
      @media (min-width: $bp-lisa) {
        border-bottom: 1px solid rgba(29,150,178,1);
      }
    }

    td[data-type=currency] {
      text-align: right;
    }

    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: 0.8em;
      color: rgba(94,93,82,.75);
      @media (min-width: $bp-lisa) {
        font-size: 0.9em;
      }
      @media (min-width: $bp-bart) {
        // Don’t show data-title labels
        content: none;
      }
    }
  }
}
